.jo-icon {
  --jo-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--jo-icon-color);
  font-size: inherit;
}

@each $val in primary, info, success, warning, danger {
  .jo-icon--$(val) {
    --jo-icon-color: var(--jo-color-$(
        val)
    );
}
}